################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinalProjectBackend/.vs/FinalProjectBackend/FileContentIndex
