<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://finalprojectbackend20231106150635.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a80cece6-2874-4768-bc70-5afb77470ca8/resourcegroups/HintProject/providers/Microsoft.Web/sites/FinalProjectBackend20231106150635</ResourceId>
    <UserName>$FinalProjectBackend20231106150635</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://finalprojectbackend20231106150635.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>